<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<!-- Required meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<title>Form</title>
</head>

<body>

<div class="container">
<h1>Form (GET)</h1>
<br>

<form method="GET" th:action="@{/httptest/result}">

	<div>
	<label for="name">Name :</label>
	<input type="text" name="name">
	</div>

	<div>
	<label for="password">Password :</label>
	<input type="text" name="password">
	</div>

	<div>
	<input type="submit" th:value="GET" class="btn btn-outline-success">
	</div>

</form>
</div><!-- container -->
<br>

<div class="container">
<h1>Form (POST)</h1>
<br>

<form method="POST" th:action="@{/httptest/result}">

	<div>
	<label for="name">Name :</label>
	<input type="text" name="name">
	</div>

	<div>
	<label for="password">Password :</label>
	<input type="text" name="password">
	</div>

	<div>
	<input type="submit" th:value="GET" class="btn btn-outline-success">
	</div>

</form>
</div><!-- container -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>